<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Thomas\Desktop\StudMap.Service.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>StudMapService</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MapsEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=StudMap;Persist Security Info=True;User ID=StudMapDBUser;Password=studmapDB2013!;Application Name=EntityFramework" Name="Data Source=.\SQLEXPRESS;Initial Catalog=StudMap;Persist Security Info=True;User ID=StudMapDBUser;Password=studmapDB2013!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudMap.Data.Entities.MapsEntities, StudMap.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=StudMap;Persist Security Info=True;User ID=StudMapDBUser;Password=studmapDB2013!;Application Name=EntityFramework" Name="Data Source=.\SQLEXPRESS;Initial Catalog=StudMap;Persist Security Info=True;User ID=StudMapDBUser;Password=studmapDB2013!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudMap.Data.Entities.UserEntities, StudMap.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MapsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.MapsModel.csdl|res://*/Entities.MapsModel.ssdl|res://*/Entities.MapsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SQLEXPRESS;Initial Catalog=StudMap;Persist Security Info=True;User ID=StudMapDBUser;Password=studmapDB2013!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.UsersModel.csdl|res://*/Entities.UsersModel.ssdl|res://*/Entities.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SQLEXPRESS;Initial Catalog=StudMap;Persist Security Info=True;User ID=StudMapDBUser;Password=studmapDB2013!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>