@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QR</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("GetLocationFromImage", "api/QR", FormMethod.Post, new{ enctype = "multipart/form-data" }))
        {
            <input id="data" name="data" type="file" />
            <input id="send" type="submit" value="submit" />
        }
    </div>
</body>
</html>
