.table {
    display: table;
    width: 100%;
}

.tableCell {
    cursor: pointer;
    display: table-row;
}

.tableCell.Headline { background-color: gainsboro; }

.tableRow {
    display: table-cell;
    padding: 4px 6px;
    vertical-align: middle;
}

/*GraphLayer*/

.node {
    cursor: pointer;
    fill: #83C32D;
    stroke: #669922;
    opacity: 0.6;
    stroke-width: 3;
}

.link {
    cursor: default;
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    opacity: 0.6;
}

#adminContent { padding: 12px 0; }

/*Menü im Adminbereich*/

.tab {
    background-color: #83C32D;
    cursor: default;
    float: left;
    font-weight: bold;
    padding: 6px 22px;
}

.tab.selectable { cursor: pointer; }

.tab.active { background-color: #669922; }


/* Ladeanzeige */

body.loading { overflow: hidden; }

body.loading .modal { display: block; }

.modal {
    background: rgba(255, 255, 255, .8) url('../../Images/ajax-loader.gif') 50% 50% no-repeat;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* map menu controls */

.ui-active rect { fill: #212121; }

.ui-active text { fill: #fff; }

.ui-default rect { fill: #e6e6e6; }

.ui-default text { fill: #000; }

.DeleteBin {
    cursor: pointer;
    width: 32px;
}


/* Dialog Klassen */

.no-close .ui-dialog-titlebar-close { display: none; }

.ui-dialog {
    background-color: #e6e6e6;
    border: 1px solid rgb(59, 59, 59);
}

.ui-dialog-titlebar { background-color: darkgray; }

.ui-dialog-titlebar .ui-dialog-title {
    font-weight: bold;
    margin: 4px 6px;
}

.ui-dialog-content { margin: 4px 6px; }

.ui-dialog-buttonpane {
    margin: 8px 0;
    text-align: right;
}

/* Dialog Hover InfoBox*/

.hover .ui-dialog-titlebar { display: none; }

.hover .ui-dialog-titlebar-close { display: none; }