.table {
    display: table;
}

.tableCell {
    display: table-row;
    cursor: pointer;
}

.tableCell.Headline {
    background-color: gainsboro;
}

.tableRow {
    display: table-cell;
    padding: 4px 6px;
}

/*GraphLayer*/
.node {
    cursor: pointer;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

#adminContent {
    background-color: #DFE9EE;
    padding: 12px;
}

/*Menü im Adminbereich*/
.tab {
    float: left;
    font-weight: bold;
    padding: 6px 22px;
    background-color: #DFE9EE;
}

.tab.selectable {
    cursor: pointer;
}

.tab.active {
    background-color: #a6dbed;
}