@{
    ViewBag.Title = "Übersicht";
}
<p>
    Schön, dass Du dich dazu entschieden hast StudMap&trade; zu nutzen.
</p>
<p>
    Um StudMap nutzen zu können benötigst Du ein @Html.ActionLink("Account", "Register", "Account"). Du hast bereits einen Account? Dann logge dich doch einfach @Html.ActionLink("hier", "Login", "Account") ein.
</p>
<p>
    Die Anwendungen werden in Kürze in den AppStores verfügbar sein und Deine Navigation durch die Westfälische Hochschule Campus Bocholt erheblich vereinfachen.
</p>