<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MapModelContainer" connectionString="metadata=res://*/Entities.MapModel.csdl|res://*/Entities.MapModel.ssdl|res://*/Entities.MapModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\DEV\FH\StudMap\trunk\StudMap\StudMap.Admin\App_Data\StudMap.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="MapEntities" connectionString="metadata=res://*/Entities.MapModel.csdl|res://*/Entities.MapModel.ssdl|res://*/Entities.MapModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\DEV\FH\StudMap\trunk\StudMap\StudMap.Admin\App_Data\StudMap.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="StudMapEntities" connectionString="metadata=res://*/Entities.UserModel.csdl|res://*/Entities.UserModel.ssdl|res://*/Entities.UserModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\StudMap.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>