@using System.Web.Mvc.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OCR</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("GetLocationFromImage", "api/OCR", FormMethod.Post, new{ enctype = "multipart/form-data" }))
        {
            <input id="data" name="data" type="file" />
            <input id="send" type="submit" value="submit" />
        }
    </div>
</body>
</html>
